body{
      font-family: sans-serif;
    }
    @page {
      margin: 160px 20px;
    }
    header {
      left: 120px;
      top: -140px;
      right: 0px;
      height: 90px;
      background-color: #036;
      color: #fff;
      text-align: right;
      border-radius: 20px 0px 20px 0px;
    }
    header h2{
      margin: 10px 10;
    }
    header h3{
      margin: 10 10px 10px 0;
    }

.img_id{
  width: 200px;
  top: -140px;
  margin-top: 20px;
  border-radius:20px 0px 20px 0px;
  border:2px solid #0000;

}

.resumen{
  left: 30px;
  right: 10px;
  top: 130px;
  text-align: justify;
  margin-right: 20px;
  background-color: #ddd;
  padding:-10px 20px -10px 20px;
}

.datos{

  left: 230px;
  top: -50px;
  text-align: justify;
  margin-right: 20px;
}

.form_aca{
  width: 300px;
  top: 250px;
  left: 30px;
  margin-left: 20px;
  float: left;
}
.fa{
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  text-align: justify;
  margin-right: 20px;
 
}

.fa p{
  font-size: 12px;
}

.form_aca h5{
  margin: 10px 0px 0px 0px;
}

    footer {
      position: fixed;
      left: 0px;
      bottom: -50px;
      right: 0px;
      height: 40px;
      border-bottom: 2px solid #ddd;
    }
    footer .page:after {
      content: counter(page);
    }
    footer table {
      width: 100%;
    }
    footer p {
      text-align: right;
    }
    footer .izq {
      text-align: left;
    }